.dashboard-container {
  display: flex;
  gap: 1vw;
  padding: 1vw;
  justify-items: center;
  align-items: center;
  background-color: #f9f9f9;
  min-height: 90vh;
  box-sizing: border-box;
  max-width: 95vw;
  margin: 0 auto;
}

.chart-card {
  background: #ffffff;
  height: 50vh;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1vw;
  text-align: center;
  width: 20vw;
  transition: transform 0.3s;
}

.chart-card:hover {
  transform: translateY(-5px);
}

.chart-card h3 {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

/* Responsive orden de filas */
@media screen and (min-width: 768px) {
  .dashboard-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .chart-card:nth-child(4),
  .chart-card:nth-child(5) {
    grid-column: span 1;
  }
}

@media screen and (min-width: 1200px) {
  .dashboard-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.chart-card p {
    color: #444;
    font-size: 16px;
    margin-top: 10px;
}