:root {
  --ck-light-bg-color: #ff6464;
  --ck-light-text-color: #fff;
}
* {
  box-sizing: border-box;
}

.App-main{
  background-color:var(--ck-light-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--ck-light-text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header-container {
  text-align: center;
}

.Header-container  h1 {
  margin-top: 0;
}

.Starting-test{
  padding-top: 2vh;  
}
.Graphs{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Recomendation-component{
  margin: 5%;
  width: 40%;
  height: 30vh;
}