:root {
  --ck-light-bg-color: #ff6464;
  --ck-light-text-color: #fff;
}
* {
  box-sizing: border-box;
}

.App-main{
  background-color:var(--ck-light-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--ck-light-text-color);
}